* {
  --main-color: white;
  --second-color: black;
  --main-gray: darkgray;
  --second-gray: gray;
  --green: lawngreen;
  --yellow: yellow;
  --tile-color: #bfbc95;
  --tile-shadow-color: #999;
  --pressed-tile-shadow-color: #666;
  --tile-text-color: black;
  --tile-border-color: black;

  font-family:'Courier New', Courier, monospace;
  color: var(--second-color);
}

.dark,
.dark * {
  --main-color: black;
  --second-color: white;
  --main-gray: gray;
  --second-gray: darkgray;
  --green:green;
  --yellow: goldenrod;
  --tile-color: #2a1c1b;
  --tile-shadow-color: #474747;
  --pressed-tile-shadow-color: #171717;
  --tile-text-color: #f1f1e9;
  --tile-border-color: var(--main-gray);

  color: var(--second-color);
}

body {
  display: none;
  background-color: var(--main-color);
}


svg {
  pointer-events: none;
}

h1 {
  text-align: center;
  font-size: xx-large;
  anchor-name: --thumb;
}

#menu-button-container {
  position-anchor: --thumb;
  display: flex;
  flex-direction: row;
  gap: 10px;
  position: absolute;
  left: anchor(center);
  transform: translate(283%, 50%);
  bottom: anchor(center);
}

.menu-button {
  line-height: 0px;
  font-size: large;
  font-weight: bold;
  padding: 0px;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background-color: var(--main-gray);
  border: 2px solid var(--second-color);
}

.menu-button:disabled {
  color: var(--second-color);
}

.menu-button:focus-visible,
.menu-button:hover,
.menu-button:active {
  background-color: var(--second-gray);
}

button {
  cursor: pointer;
  background-color: var(--main-gray);
  border-style: solid;
  border-color: var(--second-gray);
}

button:disabled {
  cursor: auto;
  color: var(--second-color);
}

.modal-control > button:focus, 
.modal-control > button:hover, 
.modal-control > button:active {
  background-color: var(--second-gray);
  border-color: var(--main-gray);
  outline: 0;
}

.modal-control > button:disabled {
  background-color: transparent;
  border: none;
  color: transparent;
}

#board {
  position: relative;
  display: grid;
  grid-template-columns: repeat(15, 2em);
  grid-template-rows: repeat(15, 2em);
  gap: 0.25em;
  padding: 1em;
  justify-content: center;
}

.tile {
  font-size: 1.5em;
  background-color: var(--main-color);
  border: 0.075em dotted;
  border-color: hsl(240, 2%, 23%);
  border-radius: 10%;
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  transition: transform 300ms ease;
  color: var(--tile-text-color);
}

.tile.shake {
  animation: shake 250ms ease-in-out;
}

@keyframes shake {
  10% {
    transform: rotate(-0.03turn);
  }

  30% {
    transform: rotate(0.03turn);
  }

  50% {
    transform: rotate(-0.03turn);
  }

  70% {
    transform: rotate(0.03turn);
  }

  90% {
    transform: rotate(-0.03turn);
  }

  100% {
    transform: rotate(0turn);
  }
}

.tile.hidden {
  color: transparent;
}

.arrow {
  position: absolute;
}

.tile[data-active] {
  border: 0.075em solid var(--tile-border-color);
}

.tile[data-letter] {
  background-color: var(--tile-color);
}

.tile.highlighted {
    border: 0.1em solid blue;
}

#keyboard {
  position: relative;
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(20, minmax(auto, 1.25em));
  grid-auto-rows: 3em;
  gap: 0.25em;
  justify-content: center;
}

#help > .modal-content > .text {
  height: 10em;
}

.modal-control > button {
  padding: 3%;
  font-weight: bold;
  font-size: medium;
}

.key {
  color: var(--tile-text-color);
  font-size: x-large;
  font-weight: bold;
  min-width: 2em;
  min-height: 2em;
  grid-column: span 2;
  border: none;
  padding: 0;
  display: block;
  justify-content: center;
  align-items: center;
  background-color: var(--tile-color);
  border-radius: 0.25em;
  user-select: none;
  box-shadow: 0 3px var(--tile-shadow-color);

}

#alert-container {
  position: fixed;
  top: 10vh;
  left: 50vw;
  transform: translateX(-50%);
  z-index: 1;
}

.alert {
  pointer-events: none;
  color: var(--main-color);
  font-size: 1em;
  background-color: var(--second-color);
  padding: 0.75em;
  border-radius: 0.25em;
  opacity: 1;
  transition: opacity 500ms ease-in-out;
  margin-bottom: 0.5em;
}

.alert.hidden {
  opacity: 0;
}

.key:not(.hidden)[data-state="wrong"] {
  background-color: darkgray;

}

.key:not(.hidden)[data-state="correct"] {
  background-color: var(--green);
}

.key:not(.hidden)[data-state="wrong-spot"] {
  background-color: var(--yellow);
}

.yellow {
  fill: var(--yellow);
}

.green {
  fill: var(--green);
}

.gray {
  fill: var(--main-gray);
}

.key:hover,
.key:active {
  filter:sepia(50%);
}

.key.large {
  grid-column: span 3;
}

.space.large {
  grid-column: span 4;
}

.key.xl {
  grid-column: span 7;
}

.key.xxl {
  grid-column: span 9;
}

.key:active,
.key.pressed {
  transform: translateY(2px);
  box-shadow: 0 1px var(--pressed-tile-shadow-color);
}

.modal {
  overflow: hidden;
  display: none; 
  position: fixed;
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  background-color: var(--second-color);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal.open {
  display: block;
}

.modal-content {
  position: relative;
  background-color: var(--main-color);
  margin: 10% auto;
  padding: 20px;
  border: 1px solid var(--second-color);
  width: 25em;
}

.close {
  float: right;
  border: none;
  background: none;
  width: 1em;
  height: 1em;
  padding: 0px;
  line-height: 0px;
  border-radius: 1em;
  transform: translate(50%, -50%);
  font-size: x-large;
  font-family: fantasy;
}

.close:focus,
.close:hover,
.close:active {
  background-color: var(--second-gray);
  outline: 0;
}

.modal-control {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: right;
}

.countdown {
  font-weight: bold;
  align-self: center;
}

.bold {
  font-weight: bold;
}
