* {
  font-size: medium;
  --main-color: white;
  --second-color: black;
  --main-gray: darkgray;
  --second-gray: gray;
  --green: lawngreen;
  --yellow: yellow;
  --tile-color: #bfbc95;
  --tile-shadow-color: #999;
  --pressed-tile-shadow-color: #666;
  --tile-text-color: black;
  --tile-border-color: black;

  font-family:'Courier New', Courier, monospace;
  color: var(--second-color);
}

.color-change,
.color-change *:not(svg, g) {
  transition: 
    background-color 1s ease-in-out,
    border-color 1s ease-in-out,
    color 1s ease-in-out,
    stroke 1s ease-in-out,
    fill 1s ease-in-out,
    box-shadow 1s ease-in-out;
}

.dark,
.dark * {
  --main-color: black;
  --second-color: white;
  --main-gray: gray;
  --second-gray: darkgray;
  --green:green;
  --yellow: goldenrod;
  --tile-color: #2a1c1b;
  --tile-shadow-color: #474747;
  --pressed-tile-shadow-color: #171717;
  --tile-text-color: #f1f1e9;
  --tile-border-color: var(--main-gray);
  
  color: var(--second-color);
}

.colorblind,
.colorblind * {
  --green: #f5793a;
  --yellow: #85c0f9;
}

body {
  display: none;
  background-color: var(--main-color);
}

#moon-icon {
  transform-origin: center;
  transition: all 1s;
}

#sun-icon {
  transform-origin: center;
  transform: rotate(360deg) scale(0);
  transition: all 1s;
}

.dark #moon-icon {
  transform: rotate(360deg) scale(0);
}

.dark #sun-icon {
  transform: rotate(0deg) scale(1);
}

svg, span {
  pointer-events: none;
}

.title-container {
  display: grid;
  grid-template-columns: auto 50vw auto;
  position: relative;
}

h1 {
  text-align: center;
  font-size: 2em;
}

#menu-button-container {
  position: absolute;
  display: flex;
  flex-direction: row;
  gap: 0em 1em;
  transform: translate(200%, 75%);
  right: 50%;
}

button:not(.tile) {
  touch-action: manipulation;
}

.menu-button {
  line-height: 0em;
  font-size: 1.5em;
  font-weight: bold;
  padding: 0em;
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  background-color: var(--main-gray);
  border: 0.1rem solid var(--second-color);
}

#gear-icon {
  fill: var(--second-color);
  stroke: var(--second-color);
}

#select-container {
  display: flex;
  grid-column: span 10;
  justify-content: right;
}

#select-button {
  width: 40%;
  gap: 0.5em;
  transition: 
    width 0.5s ease-in-out;
}

.color-change #select-button {
  width: 40%;
  gap: 0.5em;
  transition: 
    width 0.5s ease-in-out,
    background-color 1s ease-in-out,
    border-color 1s ease-in-out,
    box-shadow 1s ease-in-out;
}

.guessing #select-button, .game-over #select-button {
  width: 90%;
}

#rotation-icon {
  width: 6em;
  stroke: var(--second-color);
}

.guessing #rotation-icon, .game-over #rotation-icon {
  display: none;
}

.menu-button:disabled {
  color: var(--second-color);
}

.menu-button:focus-visible,
.menu-button:hover,
.menu-button:active {
  background-color: var(--second-gray);
}

button {
  cursor: pointer;
  background-color: var(--main-gray);
  border-style: solid;
  border-color: var(--second-gray);
  padding: 0;
}

button:disabled {
  cursor: auto;
  color: var(--second-color);
}

.modal-control > button:focus, 
.modal-control > button:hover, 
.modal-control > button:active {
  background-color: var(--second-gray);
  border-color: var(--main-gray);
  outline: 0;
}

.modal-control > button:disabled {
  visibility: hidden;
}

#board {
  position: relative;
  display: grid;
  grid-template-columns: repeat(15, 2em);
  grid-template-rows: repeat(15, 2em);
  gap: 0.25em;
  padding: 1em;
  justify-content: center;
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

.tile {
  font-size: 1.5em;
  background-color: var(--main-color);
  border: 0.075em dotted;
  border-color: hsl(240, 2%, 23%);
  border-radius: 10%;
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--tile-text-color);
}

.tile.shake {
  animation: shake 250ms ease-in-out;
}

.tile.victory {
  animation: shake 1s ease-in-out;
}

@keyframes shake {
  10% {
    transform: rotate(-0.03turn);
  }

  30% {
    transform: rotate(0.03turn);
  }

  50% {
    transform: rotate(-0.03turn);
  }

  70% {
    transform: rotate(0.03turn);
  }

  90% {
    transform: rotate(-0.03turn);
  }

  100% {
    transform: rotate(0turn);
  }
}

.tile.hidden {
  color: transparent;
}

.arrow {
  position: absolute;
  width: 2.5em;
  height: 2.5em;
}

.tile[data-active] {
  border: 0.075em solid var(--tile-border-color);
}

.tile[data-letter] {
  background-color: var(--tile-color);
}

.tile.highlighted {
  border: 0.1em solid blue;
}

#keyboard {
  position: relative;
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(20, minmax(auto, 1.25em));
  grid-auto-rows: 3em;
  gap: 0.25em;
  justify-content: center;
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}


.modal-control > button {
  padding: 3%;
  font-weight: bold;
  font-size: 1em;
}

.key {
  text-wrap: nowrap;
  color: var(--tile-text-color);
  font-size: 1.5em;
  font-weight: bold;
  min-width: 2em;
  min-height: 2em;
  grid-column: span 2;
  border: none;
  padding: 0;
  display: block;
  justify-content: center;
  align-items: center;
  background-color: var(--tile-color);
  border-radius: 0.25em;
  box-shadow: 0 0.075em var(--tile-shadow-color);
}

.toggle {
  position: relative;
  display: inline-block;
}

.slider {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 5%;
  border: none;
  border-radius: 2em;
  transition: .4s;
  background-color: var(--main-gray);
}

.slider:before {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  clip-path: circle(closest-side);
  content: "";
  background-color: white;
  transition: .4s;
  width: 50%;
  transform: translateX(10%);
}

.toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

input:checked + .slider:before {
  transform: translateX(90%);
}

input:checked + .slider {
  background-color: deepskyblue;
}

.key span {
  font-size: 1em;
}

.guessing #select-text, .game-over #select-text {
  width: 100%;
  display: block;
}

#select-text {
  overflow: hidden;
  width: 0%;
  display: none;
}

#rotation-slider {
  transition: 
    transform 0.2s ease-in-out;
}

#rotation-slider.right {
  transform: translate(1300px);
}


#alert-container {
  position: fixed;
  top: 10vh;
  left: 50vw;
  transform: translateX(-50%);
  z-index: 1;
}

.alert {
  pointer-events: none;
  color: var(--main-color);
  font-size: 1em;
  background-color: var(--second-color);
  padding: 0.75em;
  border-radius: 0.25em;
  opacity: 1;
  transition: opacity 500ms ease-in-out,
              background-color 1s ease-in-out,
              border-color 1s ease-in-out,
              color 1s ease-in-out;
  margin-bottom: 0.5em;
}

.alert.hidden {
  opacity: 0;
}

.key:not(.hidden)[data-state="wrong"] {
  background-color: gray;
}

.key:not(.hidden)[data-state="correct"] {
  background-color: var(--green);
}

.key:not(.hidden)[data-state="wrong-spot"] {
  background-color: var(--yellow);
}



.yellow {
  fill: var(--yellow);
}

.green {
  fill: var(--green);
}


.symbols .yellow #triangle, .symbols .green #triangle {
  fill: none;
  stroke: none;
}

.symbols .yellow #square {
  fill: black;
  stroke: black;
}

.symbols .green #circle {
  fill: black;
  stroke: black;
}

.gray {
  fill: gray;
}

.key:hover,
.key:active {
  filter:sepia(50%);
}

.key.large {
  grid-column: span 3;
}

.space.large {
  grid-column: span 4;
}


.key.xl {
  grid-column: span 6;
}


.key:active,
.key.pressed {
  transform: translateY(0.05em);
  box-shadow: 0 0.025em var(--pressed-tile-shadow-color);
}

.modal {
  overflow: hidden;
  display: none; 
  position: fixed;
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  background-color: var(--second-color);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal.open {
  display: block;
}

@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}


.modal-content {
  position: relative;
  background-color: var(--main-color);
  margin: 20vh auto 0;
  padding: 1em;
  border: 0.075em solid var(--second-color);
  width: 25em;
  max-height: 20em;
  animation-name: animatetop;
  animation-duration: 0.5s;
}

#settings-content {
  display: grid;
  grid-template-columns: 80% 20%;
}

#help-modal .text {
  height: 15em;
  overflow-y: auto;
}

@media (any-pointer: coarse) {
  * {
    font-size: x-large;
  }
}

.close::before {
  content: "\00D7";
}

.close {
  position: absolute;
  right: 1%;
  top: 1%;
  border: none;
  background: none;
  width: 1.5em;
  height: 1.5em;
  padding: 0%;
  line-height: 0%;
  border-radius: 1.5em;
  font-size: 2em;
  font-family: fantasy;
}

.close:focus,
.close:hover,
.close:active {
  background-color: var(--second-gray);
  outline: 0;
}

.modal-control {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: right;
}

.countdown {
  font-weight: bold;
  align-self: center;
}

.bold {
  font-weight: bold;
}
